* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Quattrocento Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  object-fit: contain;
  max-width: 100%;
}

button {
  text-transform: capitalize;
  background: none;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}
