.home {
  display: flex;

  h1 {
    font-size: 5rem;
    line-height: 1.1;
  }

  p {
    font-size: 1.3rem;
    padding: 1rem 0;
    color: rgb(54, 54, 54);
  }

  .left {
    width: 400px;
    margin-top: 4rem;

    .buttons-container {
      margin-top: 2rem;

      button {
        padding: 0.8rem 2rem;
        font-size: 1.1rem;
        border: 2px solid #ff6b6b;
      }

      :first-child {
        background: #ff6b6b;
        color: white;

        &:hover {
          background: #e46161;
          border-color: #e46161;
        }
      }

      :nth-child(2) {
        color: #ff6b6b;
        margin-left: 1rem;
      }
    }
  }

  .right {
    flex: 1;
    max-width: 100%;
    margin-top: -12rem;
    margin-right: -8rem;
  }
}
